{% extends "layout.jinja2" %}
{% block content %}
<ul class="nav nav-pills pull-right">
    {% if 'edit'|has_permission(image) %}
    <li><a href="{{ 'edit'|route_url(image) }}">Edit</a></li>
    {% endif %}
    {% if 'delete'|has_permission(image) %}
    <li><a onclick="return confirm('You want this gone?');" href="{{ 'delete'|route_url(image) }}">Delete</a></li>
    {% endif %}
</ul>
<h2>{{ image.title }}</h2>
<div class="thumbnail col-md-4">
<a target="_blank" href="{{ image.image|storage_url }}">
    <img src="{{ image.thumbnail|storage_url }}">
</a>
</div>
{% endblock %}
