{% extends "layout.jinja2" %}
{% from "macros/navigate.jinja2" import breadcrumbs %}
{% from "macros/forms.jinja2" import render_form %}

{% block content %}
{{ breadcrumbs(( 'detail'|route_url(image), image.title), 'Edit') }}
<div class="row">
<div class="col-md-6">
    <img class="img-portrait" src="{{ image.thumbnail|storage_url }}">
</div>
<div class="col-md-6">
    {{ render_form(form) }}
</div>
</div>
{% endblock %}

