{% extends "layout.jinja2" %}
{% from "macros/navigate.jinja2" import pagination_links %}
{% block content %}
{% set page = images|paginate %}
<div class="row">
{% for image in page.items %}
<div class="col-xs-3">
<a class="thumbnail" title="{{ image.title }}" href="{{ 'detail'|route_url(image) }}">
    <img src="{{ image.thumbnail|storage_url }}" alt="{{ image.title }}">
</a>
</div>
{% endfor %}
</div>
{{ pagination_links(page) }}
<div class="text-center"><small>{{ _("Images:") }} {{ page.item_count }}</small></div>
{% endblock %}
